# Browserslist config

defaults and fully supports es6-module
maintained node versions
>0%
not dead
not op_mini all
ios_saf >= 8
safari >= 8
chrome >= 49
android >= 4.4
edge >= 12
firefox >= 45
opera >= 36
samsung >= 4
